@model LoginVM



@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewData["Title"] = "Login";
}


<h2 class="text-center text-primary my-4">Welcome Back!</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Login" method="post" class="shadow p-4 rounded bg-light">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label text-dark fw-bold"></label>
                <input asp-for="Email" class="form-control border-primary" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Password" class="form-label text-dark fw-bold"></label>
                <input asp-for="Password" class="form-control border-warning" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100">Login</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

